%h2 Your Cart has #{pluralize(cart.items.count, "item")}.

%br 

%table.table
  %thead
    %tr
      %th Name
  %tbody
  - cart.items.each do |item|
    %tr
      %td= item.name
      %td= item.photo.url != "/photos/original/missing.png" ? image_tag(item.photo.url, width: "200px") : image_tag("b#{item.image}.jpg", width: "80px")
  

= link_to "Checkout", checkout_url