%h1 Big Bloomcaps
%ul.items
  - @big_items.each do |item|
    %li
      %h2= item.name
      = item.photo.url != "/photos/original/missing.png" ? image_tag(item.photo.url, width: "200px") : image_tag("b#{item.image}.jpg", width: "200px")
      %p.description= item.description.capitalize
      = form_tag cart_items_url do
        = submit_tag "Select", class: "btn"
        = hidden_field_tag :item, item.id
        %span{:style => "float: right;"}
          Qty:
          = number_field_tag :quantity, 1
      / = link_to "Delete", item_url(item), method: :delete

.clear

%hr 

%h1 Small Bloomcaps
%ul.items
  - @small_items.each do |item|
    %li
      %h2= item.name
      = item.photo.url != "/photos/original/missing.png" ? image_tag(item.photo.url, width: "200px") : image_tag("s#{item.image}.jpg", width: "200px")
      %p.description= item.description.capitalize
      = form_tag cart_items_url do
        = submit_tag "Select", class: "btn"
        = hidden_field_tag :item, item.id
        %span{:style => "float: right;"}
          Qty:
          = number_field_tag :quantity, 1
      / = link_to "Delete", item_url(item), method: :delete