%h1 New Page

= form_for(@item) do |f|
  %br
  = f.label :name
  = f.text_field :name
  %br
  = f.label :size
  = f.text_field :size
  %br
  = f.label :description
  = f.text_field :description
  %br
  = f.label :image
  = f.text_field :image
  %br
  = f.file_field :photo
  %br
  = f.submit "Create Item", class: "btn primary"